h1, h2 {
    font-family:'Roboto';
}

.dadosPaciente {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    font-family: 'Times New Roman';
    font-weight: normal;
}

.datas {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

header
{
    display:flex;
    justify-content:center;
}

h2
{
    margin-bottom: 0px;
    padding: 0px;
}

.hemograma{
    display:flex;
    justify-content:space-between;
}