* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    overflow: hidden;
}

body {
    background-color: #F0F0F5;
    margin-left: 5%;
    margin-top: 5%;

}

.container {
    display: flex;
    flex-direction: column;
}


.logo a {
    color: #432344;
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    font-family: 'ubuntu', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #425573;
    padding:50px;
    padding-left: 0px;
    
}

button {
    font-style: 'Roboto';
    font-weight: bold;
    font-size: 35px;
    display: flex;
    width: 348px;
    height: 70px;
    background-color: #425573;
    border-radius: 10px;
    color: #E7EAE8;
    margin-top: 25px;
    line-height: 70px;
    z-index: 10;
    outline: none;
    

}

button:hover {
    opacity: 0.95;
    outline-style:solid;
    outline-color: #E7EAE8;
    outline-width:3px;
    cursor:pointer;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button .quadrado {
    background-color: #450947;
    height: 70px;
    width: 70px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 70px;
}

.button_text {
    margin-left: 10px;
}

#hemacias {
    position: absolute;
    bottom: -15px;
    right: -50px;
    z-index: 1;

}

#mask {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#logo_facul {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 300px;
}

@media (max-width: 1700px) {
    .bg>img {
        height: 70%;
    }

    #logo_facul {
        height: 35%;
    }
}

@media (max-width: 1500px) {
    .bg>img {
        height: 65%;
    }

    #logo_facul {
        height: 30%;
    }
}

@media (max-width: 1200px) {
    .bg>img {
        height: 60%;
    }

    #logo_facul {
        height: 28%;
    }
}

@media (max-width: 1000px) {
    .bg>img {
        height: 50%;
    }

    #logo_facul {
        height: 25%;
    }
}

@media (max-width: 860px) {
    .bg>img {
        height: 48%;
    }

    #logo_facul {
        height: 25%;
    }
}

@media (max-width: 835px) {
    .bg>img {
        height: 45%;
    }

    #logo_facul {
        height: 25%;
    }
}

@media (max-width: 835px) {
    .bg>img {
        visibility: hidden;
    }

    #logo_facul {
        position: absolute;
        visibility: visible;
        height: 38%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
    }

    body {
        margin: 0;
    }

    .logo,
    h2 {
        margin: auto;
        text-align: center;
    }

    button {
        right: 50%;
        transform: translateX(50%);

    }

    .container {
        display: flex;
        justify-content: space-around;
    }
}
@media (max-height: 780px) {
    body{
        margin-top:4%
    }
    h2{
        padding:45px;
        padding-left:0px;
    }
    button {
        margin-top:24px;
    }

}
@media (max-height: 750px) {
    body{
        margin-top:4%
    }
    h2{
        padding:30px;
        padding-left:0px;
    }
    button {
        margin-top:23px;
    }
}
@media (max-height: 720px) {
    body{
        margin-top:4%
    }
    h2{
        padding:20px;
        padding-left:0px;
    }
    button {
        margin-top:20px;
    }
}
@media (max-height: 700px) {
    body{
        margin-top:3%
    }
    h2{
        padding:20px;
        padding-left:0px;
    }
    button {
        margin-top:20px;
    }
}
@media (max-height: 680px) {
    body{
        margin-top:3%
    }
    h2{
        padding:15px;
        padding-left:0px;
    }
    button {
        margin-top:15px;
    }
}
@media (max-height: 655px) {
    body{
        margin-top:2%
    }
    h2{
        padding:15px;
        padding-left:0px;
    }
    button {
        margin-top:15px;
    }
}
@media (max-height: 630px) {
    body{
        margin-top:1%
    }
    h2{
        padding:15px;
        padding-left:0px;
    }
    button {
        margin-top:15px;
    }
}
@media (max-height: 500px) {
    #logo_facul
    {
        visibility:hidden;
    }
}