header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

body {
    background-color: #F0F0F5;

}

.logo a {
    color: #432344;
    text-decoration: none;
    font-size: 64px;
    font-weight: bold;
    font-family: 'ubuntu', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    color: #432344;
    text-decoration: none;
    padding:0px;
}

.voltar {
    display: flex;
    font-family: 'Roboto';
    font-weight: bold;
    color: #432344;
    line-height:30px;
    align-items:flex-end;
}
.voltar img{
    position:relative;
    top:4px;
    height:100%;
}


#containerFundo {
    background-color: white;
    margin: auto;
    width: 65%;
    height: 100%;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.datas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height:20px;
}

.datas input {
    height: 25px;
    width: 135px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.datas input,
.datas label {
    margin: auto;
    text-align: center;
    padding-left: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 36px;
    color: #322153;
}

input,
select,
textarea {
    border: none;
    background-color: #F0F0F5;
    border-radius: 10px;
    max-width: 200px;
    height: 55px;
}
input[type=text],[type=number], select{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

label {
    font-family: 'Roboto';
    color: #6C6C80;
}

input,
label {
    display: block;
}


.full_container input,
.full_container label {
    margin: auto;
    max-width: 100%;
    width: 100%;
}

.full_container input {
    margin-bottom: 5px;
}

.sexo {
    border: 3px solid #F0F0F5;
    border-radius: 10px;
    display: flex;
}

.sexo div {
    padding-left: 5px;
    padding-right: 5px;
}

button {
    height: 55px;
    width: 265px;
    background-color: #ffc03d;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    line-height: 55px;
    text-align: center;
    font-size: 24px;
    border: none;
    align-self: flex-end;
    margin-top: 19px;
    outline: none;
}

.input_center label,
input {
    margin: auto;
}

input[type=text],
[type=number] {
    font-size: 20px;
    padding-left: 10px;
}

input[type=radio],
[type=checkbox] {
    width: 20px;
}
input[type=radio],
[type=checkbox]:hover {
    cursor:pointer;
}

.flex div {
    position: relative;
}

.flex div span {
    position: absolute;
    bottom: 7px;
    right: 5px;
    color: #231a35;
    font-family:'Roboto';
    font-size:14px;
}

button:hover {
    opacity: 0.95;
    cursor:pointer;
    background-color: #c7921f;
}

button:active {
    background-color: #c7921f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input::placeholder {
    visibility: hidden;
}